@use '../../assets/scss/globals' as *;

.error {
  span {
    color: color('error');
    font-size: 5rem;
    display: inline-block;
    font-weight: bold;
    animation: letter-bounce 0.7s infinite linear alternate;
    animation-delay: calc(var(--order) * 100ms);

    & + span {
      --order: 1;
    }

    &:last-child {
      --order: 2;
    }
  }
}

@keyframes letter-bounce {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
