@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import 'ant-custom';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #e6e6e6;
  min-height: 100vh;
  overflow-y: scroll;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:where(h1, h2, h3, p) {
  font-family: 'Lato', sans-serif;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
