.cart__card {
  width: 100%;
  padding: 1rem;
  gap: 8px;
  align-items: center;
  background: #fff;
  border-radius: 2px;
  margin-bottom: 8px;
  display: flex;
  flex: 2;
  height: 12rem;

  &__image {
    max-width: 200px;
    height: 166px;
  }

  &__deleteBtn {
    padding: 1px 17px !important;
    border-radius: 0 !important;
    background: none !important;
    color: #ff4d4f !important;

    &:is(:hover, :active, :focus) {
      background-color: #ff4d4f !important;
      color: #fff !important;
    }
  }
}

@media (max-width: 700px) {
  .cart__card__name {
    font-size: 0.8rem;
  }

  .cart__card__deleteBtn {
    padding: 8px 13px;
  }

  .cart__card__price {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .cart__card__name {
    font-size: 0.6rem;
  }

  .cart__card__deleteBtn {
    padding: 5px 8px;
  }

  .cart__card__price {
    font-size: 0.6rem;
  }
}

// .cart__card {
// &__media {
//   max-height: 320px;
//   max-width: 380px;
// }

// &__content {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// &__actions {
//   display: flex;
//   justify-content: space-between;
// }

// &__buttons {
//   display: flex;
//   align-items: center;
// }

// .remove-btn {
//   border-radius: 4px;
//   width: min(5rem, 7rem);
//   padding: 0;
// }
// }
