@use '../../assets/scss/globals' as *;

.footer {
  display: flex;
  background-color: transparent !important;

  @include media('md') {
    flex-direction: column;
  }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
  }

  &__logo {
    width: 6.8rem;
  }

  &__description {
    margin-block: 1.25rem;

    & + div {
      display: flex;
    }
  }

  [class*='social-icon'] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.25rem;
    cursor: pointer;
  }

  .social-icon-fb {
    background-color: #3b5999;
  }

  .social-icon-inst {
    background-color: #e4405f;
  }

  .social-icon-twitter {
    background-color: #55acee;
  }

  .social-icon-slack {
    background-color: #611f69;
  }

  &__center {
    flex: 1;
    padding: 1.25rem;

    @include media('md') {
      display: none;
    }
  }

  &__title {
    margin-bottom: 0.375rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
      margin-bottom: 0.625rem;
    }
  }

  &__right {
    flex: 1;
    padding: 1.25rem;

    @include media('md') {
      background-color: #ffff8ff8;
    }
  }

  .ant-typography {
    display: flex;
  }

  &__contact-item {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-right: 0.625rem;
  }

  &__payment {
    width: 50%;
  }
}
